.open-sans-simple {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .common-btn{
    padding: 15px 34px;
    background-color: #FD6E0A;
    border-radius: 5px;
    
    border: none;
  }

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 205px;
    gap:53px ;
 
}

.dark02 {
    color:#474747;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
  
}

.header {
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left 20px top, right  bottom 0px;
    background-size: 80px 500px, 35% ;
    /* background-position:  auto,  100px; */
    
   
}

.nav-heading {
font-size: 45px;
font-weight: 800;
color: #1E1E1E;
}
.nav-special-charecter {
    color: #FD6E0A;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-intro{
    height:356px ;
    width: 585px;
    margin-left: 205px;
    
}
.reza{
    width: 300px;
    height: auto;
    margin-right: 70px;
}

/* Main Part */

/* Common thing */
.common-heading1 {
    font-size: 35px;
    font-weight: 700px;
    color:#181818 ;
    /* margin-top: 0px; */
}
.common-heading2{
    font-size: 20;
    font-weight: bold;
}
.common-paragraph {
    font-size: 18px;
    
}

/* Common thing */

.developer-details{
    display: flex;
    justify-content: space-evenly;
   text-align: center;
}

.main-container {
    text-align: center;
    /* margin: 0px auto; */
    height: 288px;
    width: 827px;
    margin: 131px 156px;
    background-color: #FFFFFF;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    /* overflow: hidden; */
    border-radius: 10px;
    
  
}
.main-part{
 margin: 221px 230px;
 background-color:#FFF8F3 ;
 height: 550px;
 width: 1140px;
 align-content: center;
 
}

/* Page 3  */
.skills-details{
    display: flex;
   
    gap : 24px;
    margin-top: 50px;
    

}
.skill {
    text-align: center;
    margin: 230px;
   
    
    
}
.skill-details{

   text-align: start;
   padding:30px ;
  
    box-shadow: 5px 6px 10px 5px black;
   
}
.icon{
    margin-bottom: 30px;
}
/* Page 3 */