.open-sans-simple {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .common-btn{
    padding: 15px 34px;
    background-color: #FD6E0A;
    border-radius: 5px;
    
    border: none;
  }

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 205px;
    gap:53px ;
 
}

.dark02 {
    color:#474747;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
  
}

.header {
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left top, right  bottom 0px;
    background-size: 80px 500px, 40% ;
    /* background-position:  auto,  100px; */
    
   
}

.nav-heading {
font-size: 45px;
font-weight: 800;
color: #1E1E1E;
}
.nav-special-charecter {
    color: #FD6E0A;
}

.banner {
    display: flex;
}

.banner-intro{
    margin-left: 205px;
}
.reza{
    width: 300px;
    height: auto;
    margin-right: 100px;
}